body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

/* HOME */
.home {
  height: 100vh;
  background: url("../img/fundo.png") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Caixa central */
.overlay {
  text-align: center;
  backdrop-filter: blur(3px);
  padding: 30px;
  border-radius: 20px;
}

.overlay h1 {
  color: white;
  font-size: 28px;
  margin-bottom: 20px;
}

/* Botões */
button {
  padding: 15px 30px;
  border-radius: 30px;
  border: none;
  font-size: 18px;
  background: #7ec8ff;
  color: white;
  cursor: pointer;
}

/* MENU */
.menu-page {
  background: #eaf6ff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  width: 90%;
}

.menu button {
  width: 100%;
  margin: 10px 0;
}

/* BORBOLETAS */
.butterfly {
  position: absolute;
  width: 30px;
  pointer-events: none;
  opacity: 0.9;
  transition: transform 4s ease-out, opacity 4s ease-out;
}
/* PARTÍCULAS MÁGICAS */
.sparkle {
  position: absolute;
  width: 6px;
  height: 6px;
  background: white;
  border-radius: 50%;
  opacity: 0.8;
  pointer-events: none;
  box-shadow: 0 0 8px white, 0 0 15px #9ed9ff;
  transition: transform 6s linear, opacity 6s linear;
}
