body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Página inicial */
.home {
  height: 100vh;
  background: url("../img/fundo.png") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Caixa central */
.overlay {
  text-align: center;
  backdrop-filter: blur(3px);
  padding: 20px;
  border-radius: 20px;
}

/* Título */
h1 {
  color: white;

  .butterfly {
  position: absolute;
  width: 40px;
  animation: fly 1.5s linear forwards;
}

@keyframes fly {
  from {
    transform: translate(0, 0) scale(0.5);
    opacity: 1;
  }
  to {
    transform: translate(var(--x), var(--y)) scale(1.2);
    opacity: 0;
  }
}

  font-size: 28px;
  margin-bottom: 20px;
}

/* Botões */
button {
  padding: 15px 30px;
  border-radius: 30px;
  border: none;
  font-size: 18px;
  background: #7ec8ff;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #5fb5f0;
}

/* Página menu */
.menu-page {
  background: #eaf6ff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  width: 90%;
}

.menu button {
  width: 100%;
  margin: 10px 0;
}

.butterfly-bg {
  position: absolute;
  width: 30px;
  opacity: 0.6;
  animation: float 20s linear infinite;
}

@keyframes float {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(-10vh);
  }
}
.butterfly-bg {
  position: absolute;
  width: 30px;
  opacity: 0.6;
  animation: float 20s linear infinite;
}

@keyframes float {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(-10vh);
  }
}
